#map{
	height: 280px;
	width: 100%;
}
body{
   <!-- background-image: url("../img/bg-book2.jpg");
    background-color: #03A5AD;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2 , h3 {
    font-family: cursive, Geneva, Tahoma, sans-serif;

}
#p{
	font-family:Century Gothic ;
}